name: Daily Feature Ingestion

on:
  workflow_dispatch:
  schedule:
    - cron: "15 6 * * *"

jobs:
  ingest:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    env:
      HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
      HOPSWORKS_PROJECT: ${{ secrets.HOPSWORKS_PROJECT }}
      HOPSWORKS_API_HOST: ${{ secrets.HOPSWORKS_API_HOST }}


    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload latest features (last 3 days)
        run: |
          python -c "from src.feature_store_upload import upload_daily_features; upload_daily_features(days=3)"
